.button {
    cursor: pointer;
    border-radius: 1rem;
    text-decoration: none;
    display: inline-flex;
    padding: .333rem;
    margin: .333rem;
}

.button.rounded {
    border-radius: 100vmax;
}

.button.wide {
    flex: 1;
    display: flex;
    justify-content: center;
}

.button:hover,
.button:focus-visible { opacity: 50%; }

.button[data-type="inverted"] {

}
