.button {
    cursor: pointer;
    border-radius: .333rem;
    text-decoration: none;
    display: inline-flex;
    padding: .333rem .75rem;
    margin: .333rem;
}

.button.rounded {
    border-radius: 100vmax;
}

.button.wide {
    flex: 1;
    display: flex;
    justify-content: center;
}

.button:hover,
.button:focus-visible { opacity: 50%; }

.button.inverted {
    box-shadow: 0 0 .5rem var(--clr-30);
    border-width: 0;
}
