#preferences-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1em;

    margin: 1em;
}

#preferences-list label:has(input[type="checkbox"]) {
    cursor: pointer;
    padding: .333em 1em;

    background-color: var(--clr-light-30);
    color: var(--clr-light-60);
    font-size: var(--fs-6);
    font-weight: 500;

    border-radius: 100vmax;

    transition: color 333ms, background-color 333ms;
}

#preferences-list label:has(input[type="checkbox"]:checked) {
    background-color: var(--clr-light-10);
    color: white;
}
