.header {
    height: calc(100vh - 4em);
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.header h1 {
    color: var(--clr-10);
    font-size: var(--fs-display-1);
    font-weight: 900;
    text-align: center;
}

.header form {
    margin: auto 0;
}

#search-bar {
    width: 100%;
    border: 0;
    border-radius: 50vmax;
    box-shadow: 0 0 .5em -.333em;
    padding: 1em;
    background-color: white;
    display: flex;
}

#search-bar label {
    width: 100%;
}

#search {
    font-size: var(--fs-4);
    width: 100%;
    background-color: transparent;
    border: 0px solid transparent;
}

#search-btn {
    margin-left: auto;
    background-color: transparent;
    border: 0px solid transparent;
}

#trends-text {
    font-size: var(--fs-4);
    color: #416168;
    text-align: center;
}

#trends-goto {
    display: flex;
}

#trends-btn {
    margin: auto;
    background-color: transparent;
    border: 0px solid transparent;
}
