:root {
    --nav-margin: 1rem;
    --nav-height: 3rem;
}

#nav {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    font-size: var(--fs-3);
    color: black;
    margin: var(--nav-margin);
    height: var(--nav-height);
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

#logo {
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0.333rem 0;
}

#acc-anchors {
    height: 3rem;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-content: flex-end;
    justify-content: flex-end;
}

#acc-anchors > li {
    display: none;
    margin: auto 0.333rem;
}

#acc-anchors > li:last-child {
    display: initial;
}

@media (min-width: 40em) {
    #acc-anchors > li {
        display: initial;
    }
}

#nav .hamburger {
  display: flex;
  flex-direction: column;
  user-select: none;
}

#nav .hamburger>label[for="toggle"] {
  font-family: var(--ff-icons);
  color: var(--clr-10);
  font-weight: 700;
  width: 2.25rem;
  aspect-ratio: 1/1;
  margin: 0.75rem;
  background-color: var(--clr-30);
  text-align: center;
  cursor: pointer;
  border-radius: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: rotate .5s ease-out;
  z-index: 4;
}

#nav .hamburger>#toggle,
#nav .hamburger>.drop {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in;
}

:has(#nav .hamburger > #toggle:checked) .hamburger>label[for="toggle"] {
  rotate: calc(-45deg + -90deg);
}

:has(#nav .hamburger > #toggle:checked) .hamburger>.drop {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  max-width: 48rem;
  box-shadow: 0 0 1rem var(--clr-10);
  background-color: rgb(0 0 0 / .75);
  color: white;
  z-index: 3;
  opacity: 1;
  align-self: center;

  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 0 7.4375rem var(--clr-30));
  border-radius: 0.333rem;
}

:has(#nav .hamburger > #toggle:checked) .hamburger::after {
    --nav-margin: 1rem;
    --nav-height: 3rem;
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--nav-height) - (var(--nav-margin) * 2));
  backdrop-filter: blur(.333rem);
  z-index: 1;
}

#nav .hamburger>#toggle:checked~.drop>.anchors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  overflow: none;
  margin: 1rem;
  max-height: 100%;
}

#nav .hamburger>#toggle:checked~.drop>.anchors>div>h2 {
    font-weight: 700;
}

#nav .hamburger>#toggle:checked~.drop>.anchors>div>ul {
  margin: 0;
  padding: 0;
  list-style-position: outside;
  list-style-type: none;
  column-width: 50%;
  column-rule-color: currentcolor;
  column-rule-style: double;
  column-rule-width: thin;
  overflow-y: auto;

  overflow-x: hidden;
  max-height: 50vh;
  overscroll-behavior: none;
  scroll-snap-align: start;
  transform-style: preserve-3d;
}

#nav .hamburger>#toggle:checked~.drop>.anchors>div>ul>li {
  text-decoration: none;
  /* column-span: all; */
}

#nav .hamburger>#toggle:checked~.drop>.anchors>div>ul>li>a {
  color: black;
  text-decoration: none;
}

#nav .hamburger>#toggle:checked~.drop>.anchors>div>ul>li:hover {
  background-color: var(--clr-60);
}
