@charset "UTF-8";

:root {
    --sm: 40em;
    --md: 48em;
    --lg: 64em;
    --xl: 80em;
    --2xl: 96em;

    --clr-light-60: hsl(192 62% 94%);
    --clr-light-30: hsl(166 45% 72%);
    --clr-light-10: hsl(146 57% 40%);

    --clr-dark-60: hsl(192 62% 6%);
    --clr-dark-30: hsl(166 45% 28%);
    --clr-dark-10: hsl(146 57% 60%);

    --ff-s-garamond: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman";
    --ff-s-lucida-bright: "Lucida Bright", Georgia;
    --ff-s-palatino: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia;
    --ff-s-big-caslon: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia;
    --ff-s-didot: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman";
    --ff-s-baskerville: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman";
    --ff-s-hoefler-text: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman";
    --ff-s-bodoni: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman";
    --ff-s-goudy-old-style: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman";
    --ff-s-constania: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia;
    --ff-s-cambria: Cambria, Georgia;
    --ff-s-book-antiqua: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia;

    --ff-ss-optima: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial;
    --ff-ss-futura: Futura, "Trebuchet MS", Arial;
    --ff-ss-gill-sans: "Gill Sans", "Gill Sans MT", Calibri;
    --ff-ss-trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma;
    --ff-ss-helvetica-neue: "Helvetica Neue", Helvetica, Arial;
    --ff-ss-verdana: Verdana, Geneva;
    --ff-ss-lucida-grande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana;
    --ff-ss-geneva: Geneva, Tahoma, Verdana;
    --ff-ss-segoe: Segoe, "Segoe UI", "Helvetica Neue", Arial;
    --ff-ss-candara: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial;
    --ff-ss-calibri: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial;
    --ff-ss-franklin-gothic-medium: "Franklin Gothic Medium", Arial;
    --ff-ss-tamoha: Tahoma, Geneva, Verdana;

    --ff-ss-primary: var(--ff-ss-optima), ui-sans-serif, sans-serif;
    --ff-monospace: ui-monospace, monospace, monospace;
    --ff-icons: "glyphicons", emoji;

    --fw-primary: 400;

    --fs-display-1: 7.4375rem;
    --fs-display-2: 5.5625rem;
    --fs-header-1: 4.1875rem;
    --fs-header-2: 3.125rem;
    --fs-header-3: 2.3125rem;
    --fs-header-4: 1.75rem;
    --fs-7: 1.5rem; /* 24px; */
    --fs-6: 1.3125rem;
    --fs-5: 1.15625rem; /* 18.5px; */
    --fs-4: 1rem;
    --fs-3: .75rem;
    --fs-2: .5625rem;
    --fs-1: .4375rem;
    --fs-0: .3125rem;

	--gap: .75em;
	--width: (100vw - 40ch);
	--columns: 5;
	--shadow: .5em;
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

/* Box sizing rules */
*,
*::before,
*::after { box-sizing: border-box; }

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:--heading { line-height: 1.3125; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] { list-style: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

/* Set core root defaults */
html:focus-within { scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.75;
}

/* A elements that don't have a class get default styles */
a:not([class]) { text-decoration-skip-ink: auto; }

/* Make images easier to work with */
embed,
iframe,
img,
math,
object,
picture,
svg {
  max-width: 100%;
  display: inline-block;

  vertical-align: middle;
}

img { border: 0; }

svg:not(:root) { overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] { cursor: default }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th { padding: 0; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template { display: none; }

a { background-color: transparent; }
a:active,
a:hover { outline: 0; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select { font: inherit; }

pre:not([class]) { background-color: white; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
    font-family: "glyphicons";
    src: url("assets/fonts/bd3cd73e-5ff1-4b63-aad7-d7867e2d4e76.eot");
    src: local("glyphicons"), local("glyphicons_halflingsregular"), url("assets/fonts/bd3cd73e-5ff1-4b63-aad7-d7867e2d4e76.eot?#iefix") format("embedded-opentype"), url("assets/fonts/5c919219-c9e0-4aa7-a1b6-ce89014f0311.woff") format("woff"), url("assets/fonts/1911e0d1-01a0-4d16-839f-68ae29c7705b.ttf") format("truetype"), url("assets/fonts/7e5eebaf-2950-4e59-aeb4-b97436d67315.svg#glyphicons_halflingsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

[title] { border-bottom: thin dashed; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

h1 {
  font-size: clamp(var(--fs-header-2), 3.1875vw + 1rem, var(--fs-header-1));
}

h2 {
  font-size: clamp(var(--fs-header-3), 2.125vw + 1rem, var(--fs-header-2));
}

h3 {
  font-size: clamp(var(--fs-header-4), 1.3125vw + 1rem, var(--fs-header-3));
}

h4 {
  font-size: clamp(var(--fs-7), .75vw + 1rem, var(--fs-header-4));
}

h5 {
  font-size: clamp(var(--fs-6), .5vw + 1rem, var(--fs-7));
}

h6 {
  font-size: clamp(var(--fs-5), .3125vw + 1rem, var(--fs-6));
}

span.smallcaps { font-variant: small-caps; }
span.underline { text-decoration: underline; }

div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

code { white-space: pre; }

button:focus {
  outline: none;
}

summary { display: list-item; }
details > summary > p:only-child { display: inline; }

pre code { padding: 0; }

code,
kbd,
pre,
samp { font-family: var(--ff-monospace) }

@media (prefers-color-scheme: "dark") {
  body {
    background-color: var(--clr-dark-60);
  }

  a:link { color: #cdf; }
  a:hover, a:visited:hover { color: #def; }
  a:visited { color: #dcf; }
}

@media print {
  *,
  :after,
  :before {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    box-shadow: none !important;
  }

  a,
  a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after { content:""; }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead { display: table-header-group; }

  img, tr { page-break-inside: avoid; }

  img { max-width: 100% !important; }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 { page-break-after: avoid; }

  .navbar {
    display: none
  }

  .btn > .caret,
  .dropup > .btn > .caret { border-top-color: #000 !important; }

  .label { border: 1px solid #000; }

  table { border-collapse: collapse !important; }

  table td,
  table th { background-color: #fff !important; }

  table.bordered td,
  table.bordered th { border: 1px solid #ddd !important; }

  body{
    max-width: initial;
    font-family: var(--ff-s-garamond);

  }

  body p {
    text-align: justify;
  }
}

body {
  background-color: var(--clr-light-60);

  margin: 1em auto;
  max-width: 80ch;
  padding: 0 .5625em;

  font-size: clamp(var(--fs4), .15625vw + 1rem, var(--fs-5));
  font-family: var(--ff-ss-primary);
}

@media (min-width: 96em) {
	body {
		max-width: 120ch;
	}
}

#nav {
    position: absolute;
    top: 0;
    right: 0;

    margin: 1em;
}

header {
	height: calc(100vh - 4em);
    margin: 1em;
    display: flex;
    flex-direction: column;
}

header h1 {
    color: var(--clr-light-10);
    font-size: var(--fs-display-1);
    font-weight: 700;
    text-align: center;
}

header form {
    margin: auto 0;
}

#search-bar {
    width: 100%;
    border: 0;
    border-radius: 50vmax;
    box-shadow: 0 0 .5em -.333em;
    padding: 1em;
    background-color: white;
    display: flex;
}

#search-bar label {
    width: 100%;
}

#search {
    width: 100%;
    background-color: transparent;
    border: 0px solid transparent;
}

#search-btn {
    margin-left: auto;
    background-color: transparent;
    border: 0px solid transparent;
}

#trends-text {
    text-align: center;
}

#trends-goto {
    display: flex;
}

#trends-btn {
    margin: auto;
    background-color: transparent;
    border: 0px solid transparent;
}

#items {
	display: grid;
	width: calc(var(--width) + 2 * var(--gap));
	grid-template-columns: repeat(var(--columns), 1fr);
	grid-auto-rows: calc(var(--width) / var(--columns));
	margin: auto;
	gap: var(--gap);
}

#items div {
	border-radius: var(--shadow);
	background-color: var(--clr-light-10);
    padding: .333em;
}

#items div.top {
	box-shadow: 0 -.75em var(--clr-light-10);
}

#items div.bottom {
	box-shadow: 0 .75em var(--clr-light-10);
}

#items div.left {
	box-shadow: -.75em 0 var(--clr-light-10);
}

#items div.right {
	box-shadow: .75em 0 var(--clr-light-10);
}

#items div.top.bottom {
	box-shadow: 0 -.75em var(--clr-light-10), 0 .75em var(--clr-light-10);
}

#items div.top.left {
	box-shadow: 0 -.75em var(--clr-light-10), -.75em 0 var(--clr-light-10);
}

#items div.top.right {
	box-shadow: 0 -.75em var(--clr-light-10), .75em 0 var(--clr-light-10);
}

#items div.bottom.left {
	box-shadow: 0 .75em var(--clr-light-10), -.75em 0 var(--clr-light-10);
}

#items div.bottom.right {
	box-shadow: 0 .75em var(--clr-light-10), .75em 0 var(--clr-light-10);
}

#items div.left.right {
	box-shadow: -.75em 0 var(--clr-light-10), .75em 0 var(--clr-light-10);
}

#items div.top.bottom.left {
	box-shadow: 0 -.75em var(--clr-light-10), 0 .75em var(--clr-light-10), -.75em 0 var(--clr-light-10);
}

#items div.top.bottom.right {
	box-shadow: 0 -.75em var(--clr-light-10), 0 .75em var(--clr-light-10), .75em 0 var(--clr-light-10);
}

#items div.top.right.left {
	box-shadow: 0 -.75em var(--clr-light-10), -.75em 0 var(--clr-light-10), .75em 0 var(--clr-light-10);
}

#items div.bottom.right.left {
	box-shadow: 0 .75em var(--clr-light-10), -.75em 0 var(--clr-light-10), .75em 0 var(--clr-light-10);
}

#items div.top.bottom.right.left {
	box-shadow: 0 -.75em var(--clr-light-10), 0 .75em var(--clr-light-10), -.75em 0 var(--clr-light-10), .75em 0 var(--clr-light-10);
}

#preferences-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1em;

    margin: 1em;
}

#preferences-list input[type="checkbox"] + label {
    cursor: pointer;
    padding: .333em 1em;

    background-color: var(--clr-light-30);
    color: black;

    border-radius: 100vmax;

    transition: color 333ms, background-color 333ms, transform .5s;
}

#preferences-list input[type="checkbox"] + label:hover {
    transform: scale(1.1, 1.1);
}
#preferences-list input[type="checkbox"]:checked + label {
    background-color: var(--clr-light-10);
    color: white;
}
