#account-creation {
    width: 80ch;
    margin: auto;
    color: var(--clr-dark-60);
}

#account-creation form {
    margin: auto;
    font-weight: 900;
}

#account-creation hgroup * {
    text-align: center;
}

#account-creation hgroup h1 {
    font-weight: 500;
}

#account-creation hgroup p {
    font-weight: 300;
    font-size: var(--fs-5);
}

#text-inputs {
    width: 45ch;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#text-inputs p {
    padding: 0.5em;
}

#text-inputs p:nth-child(odd) {
    width: calc(100% / 3 - 1em);
}

#text-inputs p:nth-child(even) {
    width: calc(100% / 3 * 2 - 1em);
}

#text-inputs p:nth-child(odd) {
    text-align: end;
}

#text-inputs p:nth-child(odd)::after {
    content: ": ";
}

#text-inputs input {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

#age-consideration {
    width: 45ch;
    margin: auto;
}

#account-creation form p:has(button[type="submit"]) {
    text-align: center;
}
