body:has(#sign) {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#sign {
  width: 80ch;
  margin: auto;
  padding: 1rem;
  border-radius: 0.333rem;
  box-shadow: 0 0 0.333rem black;
}

#sign > section {
    margin: 1rem 0;
}

#basic > form > p > label {
  display: flex;
  justify-content: space-between;
}

#sso > ul {
  display: flex;
  max-width: 120ch;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  gap: 1.75rem;
  justify-content: center;
}

#sso img.sso-icon {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 32px;
}
